@page "/DeleteDiploma/{CurrentID}"
@using Nethereum.Metamask.Blazor.Server.DB_Models;
@using Nethereum.Metamask.Blazor.Server.DAL;
@inject DiplomaService objDiplomaService;
@inject NavigationManager NavigationManager
<h2>Delete Diploma</h2>
<hr />

<h3>Are you sure you want to delete this?</h3>

<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label>Diploma ID:</label>
            <label>@objDiploma.ID</label>
        </div>
        <div class="form-group">
            <label>Name:</label>
            <label>@objDiploma.Name</label>
        </div>
        <div class="form-group">
            <label>Last Name:</label>
            <label>@objDiploma.LastName</label>
        </div>
        <div class="form-group">
            <label>Identity number:</label>
            <label>@objDiploma.IdentityNumber</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-danger" @onclick="@DelDiploma" value="Delete" />
            <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string CurrentID { get; set; }
    Diploma_model objDiploma = new Diploma_model();

    protected override async Task OnInitializedAsync()
    {
        objDiploma = await Task.Run(() => objDiplomaService.GetDiplomaByID(Convert.ToInt32(CurrentID)));
    }

    
    protected void DelDiploma()
    {
        objDiplomaService.DeleteDiploma(objDiploma);
        NavigationManager.NavigateTo("Diploma");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Diploma");
    }
}
